<!--
负责显示的HTML DOM模型与负责数据和交互的JavaScript代码
MVVM：Model View ViewModel模式
在前端页面中，把Model用纯JavaScript对象表示
View是纯HTML
由于Model表示数据，View负责显示，两者做到了最大限度的分离。
把Model和View关联起来的就是ViewModel。
ViewModel负责把Model的数据同步到View显示出来，
还负责把View的修改同步回Model。
选择Vue这个简单易用的MVVM框架来实现创建Blog的页面
在MVVM中，Model和View是双向绑定的。如果我们在Form中修改了文本框的值，
可以在Model中立刻拿到新的值。双向绑定是MVVM框架最大的作用。
如果我们在JavaScript逻辑中修改了Model，这个修改会立刻反映到View上。
-->
{% extends '__base__.html' %}

{% block title %}编辑日志{% endblock %}

{% block beforehead %}

<script>
//负责数据和交互,Model部分

var
	ID = '{{ id }}',
	action = '{{ action }}'; // handlers.py -- manage_create_blog

function initVM(blog) { //初始化ViewModel，关联View和Model
	// 去掉var可在Chrome浏览器中打开JavaScript控制台console中打印：
	var vm = new Vue({ // 初始化Vue时，我们指定3个参数
		el: '#vm', //根据选择器查找绑定的View，这里是#vm，就是id为vm的DOM，对应的是一个<div>标签
		//HTML在浏览器中以DOM形式表示为树形结构,HTML文档被浏览器解析后就是一棵DOM树
		data: blog, // JavaScript对象表示的Model，我们初始化为{ name: '', summary: '', content: ''} 见下文的function
		methods: { // View可以触发的JavaScript函数，submit就是提交表单时触发的函数。
			submit: function(event) {
				event.preventDefault();
				var $form = $('#vm').find('form');
				$form.postJSON(action, this.$data, function (err, r) {
					if (err) {
						$form.ShowFormError(err);
					}
					else {
						return location.assign('/api/blogs/' + r.id);
						//点击按钮提交 => js脚本的postJSON函数把数据(id为vm的DOM)传出去 => @post('/api/blogs') 的处理函数把数据写进数据库，然后把生成的blog id用json传回 => 最后postJSON的第三个参数的回调函数接收到blog id的值，再用location.assign函数重定向到新建的日志网址
						// return location.assign('/api/blogs/' + r.id);返回json格式内容；
						// return location.assign('/');则返回日志列表
					}
				});
			}
		}
	});
	$('#vm').show();
}


$(function () {
	if (ID) {
		getJSON('/api/blogs/' + ID, function (err, blog) {
			if (err) {
				return fatal(err);
			}
			$('#loading').hide();
			initVM(blog);
		});
	}
	else {
		$('#loading').hide();
		initVM({
			name: '',
			summary: '',
			content: ''
		});
	}
});
</script>

{% endblock %} 

{% block content %}

	<div class="uk-width-1-1 uk-margin-bottom">
		<div class="uk-panel uk-panel-box">
			<ul class="uk-breadcrumb">
				<li><a href="/manage/comments">评论</a></li> 
				<li><a href="/manage/blogs">日志</a></li> 
				<li><a href="/manage/users">用户</a></li> 
			</ul> 
		</div>
	</div>

	<div id="error" class="uk-width-1-1">
	</div>

	<div id="loading" class="uk-width-1-1 uk-text-center">
		<span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>正在加载...</span>
	</div> <!--<span>  定义文档中的行内的小块或区域-->

	<div id="vm" class="uk-width-2-3"> <!-- id为vm -->
		<form v-on="submit: submit" class="uk-form uk-form-stacked">
			<!-- 把提交表单的事件关联到submit方法 -->
			<div class="uk-alert uk-alert-danger uk-hidden"></div>
			<div class="uk-form-row">
				<label class="uk-form-label">标题:</label>
				<div class="uk-form-controls">
					<input v-model="name" name="name" type="text" placeholder="标题" class="uk-width-1-1">
				<!-- 简单的v-model让Vue把Model和View关联起来,input的value和Model的name关联起来了-->	
				</div>
			</div>
			<div class="uk-form-row">
				<label class="uk-form-label">摘要:</label>
				<div class="uk-form-controls">
					<textarea v-model="summary" rows="4" name="summary" placeholder="摘要" class="uk-width-1-1" style="resize:none;"></textarea>
				</div>
			</div>
			<div class="uk-form-row">
				<label class="uk-form-label">内容:</label>
				<div class="uk-form-controls">
					<textarea v-model="content" rows="16" name="content" placeholder="内容" class="uk-width-1-1" style="resize:none;"></textarea>
				</div>
			</div>
			<div class="uk-form-row">
				<button type="submit" class="uk-button uk-button-primary"><i class="uk-button-save"></i> 保存</button>
				<a href="/manage/blogs" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
			</div>
		</form>
	</div>

{% endblock %}



