{% extends '__base__.html' %}

{% block title %}评论{% endblock %}

{% block beforehead %}

<script>

function initVM(data) {
	$('#vm').show();
	var vm = new Vue({
		el: '#vm',//根据选择器查找绑定的View，这里是#vm，就是id为vm的DOM，对应的是一个<div>标签
		data: {
			comments: data.comments,
			page: data.page
		},
		methods: {// 警告！少打一个冒号导致报错
			delete_comment: function (comment) {
				var content = comment.content.length > 20 ? comment.content.substring(0, 20) + '...' : comment.content;
				if (confirm('确认要删除评论“' + comment.content + '”？删除后不可恢复！')) {
					postJSON('/api/comments/' + comment.id + '/delete', function (err, r) {
						if (err) {
							return error(err);
						}
						refresh();
					});
				}
			}
		}
	});
}

$(function() {
	getJSON('/api/comments', {
		page: {{ page_index }}
	}, function (err, results) {
		if (err) {
			return fatal(err);
		}
		$('#loading').hide();
		initVM(results);
	});
});

</script>

{% endblock %}

{% block content %}

	<div class="uk-width-1-1 uk-margin-bottom">
		<div class="uk-panel uk-panel-box">
			<ul class="uk-breadcrumb">
				<li class="uk-active"><span><评论</span><</li>
				<li><a href="/manage/blogs">日志</a></li>
				<li><a href="/manage/users">用户</a></li>
			</ul>
		</div>
	</div>

	<div id="error" class="uk-width-1-1">
	</div>

	<div id="loading" class="uk-width-1-1 uk-text-center">
		<span><i class="uk-icon-spiner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
	</div>

	<!--View的容器是#vm，包含一个table，我们用v-repeat可以把Model的数组comments直接变成多行的<tr>：-->
	<div id="vm" class="uk-width-1-1" style="display:none">
		<table class="uk-table uk-table-hover">
			<thread>
				<tr>
					<th class="uk-width-2-10">作者</th>
					<th class="uk-width-5-10">内容</th>
					<th class="uk-width-2-10">创建时间</th>
					<th class="uk-width-1-10">操作</th>
				</tr>
			</thread>
			<tbody>
			<!-- table body
			往Model的comments数组中增加一个Comment元素，table就神奇地增加了一行；把comment数组的某个元素删除，table就神奇地减少了一行。所有复杂的Model-View的映射逻辑全部由MVVM框架完成，我们只需要在HTML中写上v-repeat指令，就什么都不用管了。可以把v-repeat="comment: comments"看成循环代码，所以，可以在一个<tr>内部引用循环变量comment。v-text和v-attr指令分别用于生成文本和DOM节点属性。-->
				<tr v-repeat="comment: comments">
					<td>
						<span v-text="comment.user_name"></span>
					</td>
					<td>
						<span v-text="comment.content"></span>
					</td>
					<td>
						<span v-text="comment.created_at.toDateTime()"></span>
					</td>
					<td><!-- 把click事件关联到delete_comment方法 -->
						<a href="#0" v-on="click: delete_comment(comment)"><i class="uk-icon-trash-o"></i>
					</td><!--此处开始标签自动匹配对不上-->
				</tr>
			</tbody>
		</table>
		<div v-component="pagination" v-with="page"></div>
	</div>

{% endblock %}

					
				
